@media (min-width: 600px) {
  h1 {
    font-size: 42px;
  }
  
  h2 {
   font-size: 24px; 
  } 
  h3 {
   font-size: 17px;
  }
  p {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  ul {
    font-size: 15px;
  }
} 

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
   font-size: 14px; 
   
  } 
  h3 {
   font-size: 12px;
  }
  a {
    font-size: 11px;
  }
  p {
    font-size: 11px;
  }
  ul {
    font-size: 11px;
  }
} 

body {
  background: linear-gradient(0deg, #f5af19, #f12711);
  font-family: raleway;
}

footer {
  background-color: rgba(245, 245, 245, .6);
  text-align: center;
}

p{
  font-family: raleway;
  text-transform: lowercase;
}

h1 {
  font-family: space mono, monospace;
  color: rgba(255, 255, 255, 1);
  text-transform: lowercase;
  
}

h2 {
  font-family: space mono, monospace;
  text-transform: lowercase;
  color: white;
  color: rgba(255, 255, 255, .85);
  letter-spacing: 0.2px;
}

h2:hover {
  animation-name: fade;
  animation-duration: 1.7s;
}

@keyframes fade {
  50% {
    color: rgba(255, 255, 255, .1);
  }
}

h3 {
  font-weight: bold;
  
}

ul {
  line-height: 20px;
  text-transform: lowercase;
}

.header {
  padding: 10px;
  color: platinum;
  text-align: center;
}

a {
  color: black;
  text-transform: lowercase;
}

a:hover {
  color: white;
}

#skills {
  display: flex;
  flex-direction: row;
}

#certifications {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

#experience {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

#education {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

#references {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.text {
  font-size: 13px;
  width: 55%;
  padding-left: 7%;
  padding-right: 10%;
  padding-top: 1.18%;
}

.left-titles {
  padding-left: 7%;
  width: 25%;
  word-wrap: break-word;
  text-align: right;
}

.dates {
  color: rgba(255, 255, 255, .75);
}

.bars {
  color: rgba(255, 255, 255, .7);
}
